################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/PhoneBook/bin/Debug/net5.0
/PhoneBook/obj
